#header span.logo {
  display: inline;
  background: none;
  height: 0;
  width: 0;
}

#header img {
  height: 20em;
  @include breakpoint('<=mobile') {
    height: 16em;
  }
}

#header h1 {
  font-family: nautica,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  font-size: 4.5em;
  @include breakpoint('<=mobile') {
    line-height: 1.2em;
  }
}

#header h2,h3 {
  font-family: bodoni-urw,serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

#header a {
  color: white;
}

#header strong {
  font-family: bodoni-urw,serif;
  font-weight: 700;
  font-style: normal;
}

#header > div {
  @include breakpoint('>mobile') {
    width: 80%;
    margin: auto;
  }
}

.row .logo {
  height: 60px;
  width: 250px;
}

.aligncenter {
  text-align: center;
}

.row.specialthanks {
  min-height: 180px;
}

.walksf {
  display: inline-block;
  background-image: url('images/walksf.png');
  height: 60px;
  width: 250px;
}

.parksalliance {
  display: inline-block;
  background-image: url('images/parksalliance.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 250px;
  @include breakpoint('<=mobile') {
    height: 160px !important;
  }
}

.pics {
  font-size: 2em;
  background-color: #6CB785;
}

.modaloverlay{
  background:rgba(0,0,0,0.8);
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  position:fixed;
  right:0;
  top:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index:-1;
  display: none;
  &:target{
    display: block;
    opacity:1;
    pointer-events:auto;
    z-index:99999;
  }
  .modal{
    background-color:white;
    height: 100%;
    position:relative;
    margin:0 auto;
    padding:3em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include breakpoint('>mobile') {
      height:75%;
     margin:5% auto;
     max-height: 57em;
      max-width:66em;
      width:85%;
    }
  }
  .modal img {
    height: auto;
    width: 100%;
  }
  .close{
    background-color:turquoise;
    color:white;
    font-size:24px;
    padding:8px 12px;
    position:absolute;
    right:0;
    text-align:center;
    text-decoration:none;
    top:0;
    z-index: 1;
  }
}