#header span.logo {
  display: inline;
  background: none;
  height: 0;
  width: 0;
}

#header h1 {
  font-family: nautica,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  font-size: 4.5em;
  @include breakpoint('<=mobile') {
    line-height: 1.2em;
  }
}

#header h2,h3 {
  font-family: bodoni-urw,serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

#header strong {
  font-family: bodoni-urw,serif;
  font-weight: 700;
  font-style: normal;
}

#header > div {
  @include breakpoint('>mobile') {
    width: 80%;
    margin: auto;
  }
}

.row .logo {
  height: 60px;
  width: 250px;
}

.aligncenter {
  text-align: center;
}

.row.specialthanks {
  min-height: 160px;
}

.walksf {
  display: inline-block;
  background-image: url('images/walksf.png');
  height: 60px;
  width: 250px;
}

.parksalliance {
  display: inline-block;
  background-image: url('images/parksalliance.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 250px;
  @include breakpoint('<=mobile') {
    height: 160px !important;
  }
}